.pricing-wrapper {
    margin-top: 112px;
    margin-bottom: 157px;
}

.pricing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.pricing-wrapper .swiper {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    overflow-y: visible;
}

.pricing-wrapper .swiper-slide{
    transform: translateY(30px);
    opacity: 0.6;
    transition: transform 0.5s;
}

.pricing-wrapper .swiper-slide.swiper-slide-active{
    transform: translateY(0);
    opacity: 1;
}