.pricing {
    display: flex;
    gap: 30px;
    margin-top: 112px;
    margin-bottom: 157px;
}

.pricing .plan__item {
    display: flex;
    flex-direction: column;
    padding: 40px 19px;
    border: 1px solid rgba(185, 253, 80, 0.46);
    background: #222222;
    border-radius: 16px
}

.pricing .plan__item > div {
    padding: 0 17px;
}

.pricing .plan__item hr {
    margin: 34px 0;
    border-color: rgba(185, 253, 80, 0.46);
}

.plan__item .price-subt {
    color: var(--—Å-subtitle);
    font-size: 14px;
}

.plan__info .plan__name {
    display: flex;
    align-items: stretch;
    gap: 15px;
    margin-bottom: 32px;
}

.plan__info .plan__name h3{
    font-size: 34px;
    line-height: 1.1;
    font-weight: 600;
}

.plan__info .plan__name span {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-weight: 300;
    border-radius: 8px;
    color: #000;
}

.plan__info .plan__name span.bg-primary {
    background-color: var(--primary-color);
}

.plan__info .plan__name span.bg-white{
    background-color: #fff;
}

.plan__price span{
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 16px;
}

.plan_features {
    flex-grow: 1;
}

.plan_features ul li{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
}


.plan_btn {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.plan_btn button {
    padding: 16px 0;
}