.benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;
    margin-bottom: 170px;
}

.benefits .benefits__icon-wrapper {
    position: relative;
    margin-bottom: 41px;
}

.benefits .benefits__item .benefit__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.benefits__item:last-child .benefit__arrow {
    display: none;
}


.benefits .benefits__icon {
    background-color: var(--primary-color);
    padding: 24px;
    width: fit-content;
    border-radius: 50%;
    margin-right: auto;
}


.benefits h4{
    font-size: 26px;
    letter-spacing: -1px;
    font-weight: 500;
    margin-bottom: 20px;
}

.benefits p {
    color: var(--—Å-subtitle);
    font-size: 18px;
    font-weight: 300;
    max-width: 283px;
}
