.benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;
    margin-bottom: 170px;
}

.benefits .benefits__icon-wrapper {
    position: relative;
    margin-bottom: 41px;
}

.benefits .benefits__item .benefit__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.benefits__item:last-child .benefit__arrow {
    display: none;
}


.benefits .benefits__icon {
    background-color: var(--primary-color);
    padding: 24px;
    width: fit-content;
    border-radius: 50%;
    margin-right: auto;
}


.benefits h4{
    font-size: clamp(16px, 2.8vw, 26px);
    letter-spacing: -1px;
    font-weight: 500;
    margin-bottom: 20px;
}

.benefits p {
    color: var(--—Å-subtitle);
font-size: clamp(14px, 1.8vw, 18px);
    font-weight: 300;
    max-width: 283px;
}

.benefits .swiper-slide {
    backdrop-filter: blur(10px);
    border: 1px solid rgba(185, 253, 80, 0.6);
    padding: 30px;
    height: auto;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.benefits .swiper-slide:before {
    content: "";
    background: #B9FD50;
    background: radial-gradient(circle, rgba(185, 253, 80, 0.3) 56%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 10px;
    left: 10px;
    filter: blur(200px);
    width: 60%;
    aspect-ratio: 1/1;
}