.capabilities__tales{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    font-weight: 300;

}

.capabilities__tales button{
    padding:11px  35px;
    font-weight: 300;
    font-size: clamp(14px, 2vw, 17px);
}