.btn{
    font-weight: 500;
    padding: 0 35px;
    border-radius: 8px;
    text-transform: capitalize;
}

.btn--primary {
    background-color: var(--primary-color); ;
    transition: box-shadow .2s ease;
}

.btn--primary:hover {
    box-shadow: 0 0 10px var(--primary-color);
}


.btn--load {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 15px;

}

.btn--load svg {
    transform: rotate(180deg);
}

.btn--outline {
    border: 1px solid var(--primary-color);
    color: #fff;
}

