.container-header{
    text-align: center;
}

.container-header h2 {
    font-size: clamp(28px, 2.5vw, 48px);
    letter-spacing: -3px;
}

.container-header p {
    max-width: 470px;
    color: #fff;
font-size: clamp(14px, 1.8vw, 18px);
    margin: 25px auto 0;
}

.section-container.white .container-header p {
    color: var(--—Å-subtitle-dark);
}

.container-header span {
    text-transform: uppercase;
    color: var(--primary-color);
}

.section-container.white .container-header span{
    color: #000;
}