.benefits__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    background-color: #B9FD5017;
}

.benefits__grid-item {
    background-color: var(--primary-color-dark);
    padding: 45px 30px;
}

.benefits__grid-item:nth-child(-n+3) {
    padding-top: 0;
}

.benefits__grid-item:nth-child(3n+1) {
    padding-left: 0;
}

.benefits__grid h5 {
    font-size: 20px;
    margin: 21px 0;
    font-weight: 500;
}

.benefits__grid p {
    color: #9593A4;
    max-width: 292px;
}

.benefits__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    background-color: #B9FD5017;
}

.benefits__grid-item {
    background-color: var(--primary-color-dark);
    padding: 45px 30px;
}

.benefits__grid-item:nth-child(-n+3) {
    padding-top: 0;
}

.benefits__grid-item:nth-child(3n+1) {
    padding-left: 0;
}

.benefits__grid-item img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.benefits__grid h5 {
    font-size: 20px;
    margin: 21px 0;
    font-weight: 500;
}

.benefits__grid p {
    color: #9593A4;
    max-width: 292px;
}


