/* базовые стили = десктоп */

@media (max-width: 1440px) {  }
@media (max-width: 1280px) {
    .container-fluid{
        margin: 0 20px
    }
}
@media (max-width: 1024px) {

}
@media (max-width: 768px)  {  }
@media (max-width: 576px)  {  }
