/* базовые стили = десктоп */

@media (max-width: 1440px) {  }
@media (max-width: 1280px) {
    .container-fluid{
        margin: 0 20px
    }
    .pricing {
        gap: 10px;
    }

    .pricing .plan__item hr {
        margin: 2.7vw 0;
    }

}
@media (max-width: 1024px) {
    .brands-panel__con img {
        width: auto;
        height: 32px;
    }

    .benefits__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .benefits__grid-item {
        padding: 40px 25px;
    }
    .benefits__grid-item:nth-child(3n+1) {
        padding-left: 40px;
    }
    .benefits__grid-item:nth-child(-n+2) {
        padding-top: 0;
    }

    .benefits__grid-item:nth-child(2n+1) {
        padding-left: 0;
    }

    .benefits__grid p {
        max-width: 100%;
    }

    .reviews__slider .slider-btn{
        transform: translateX(0) translateY(-50%);
    }


}

@media (max-width: 768px)  {
    .container {
        padding: 0 20px;
    }

    .header__nav {
        position: fixed;
        flex-direction: column;
        top: 115px;
        bottom: 0;
        opacity: 0;
        left: 0;
        width: 100%;
        background-color: var(--primary-color-dark);
        z-index: 99;
        padding: 0 50px;

        visibility: hidden;
        pointer-events: none;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    header.is-open .header__nav {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    header .btn--primary {
        margin: 0;
        padding: 20px 40px;
    }

    header nav ul {
        flex-direction: column;
        gap: 20px;
        font-size: 25px;
    }

    .header__mobile--btn {
        display: flex;
    }


    .news-articles{
        grid-template-columns: 1fr;
    }
        .article__item .article__data {padding: 50px 24px;}

    .benefits {
        gap: 18px;
    }
    .benefits .benefits__icon{
        padding: 15px;

    }


    .brands-panel .brands-panel__body{
        padding: 30px 24px;
        margin: 0 -20px;
        border-radius: 0;
    }
    .brands-panel__con {
       gap: 50px;
    }

    header.is-open {
        background-color: var(--primary-color-dark);
    }
}


@media (max-width: 640px) {
    .benefits__grid {
        grid-template-columns: 1fr;
        gap: 1px;
    }
    .benefits__grid-item:nth-child(3n+1) {
        padding-left: 0px;
    }

    .benefits__grid-item {
        padding-left: 0;
    }

    .benefits__grid h5 {
        font-size: 18px;
        margin: 16px 0;
    }

    .benefits__grid-item img {
        width: 40px;
        height: 40px;
    }

    .nav--list--footer{
        display: none;
    }
}

@media (max-width: 576px)  {
    .benefits {
        display: block;
    }

    .info-title__grid {
        grid-template-columns: 1fr;
    }

    .pricing-wrapper{
        margin: 0 -20px;
    }
}

@media (max-width: 426px)  {
    header button{
        width: 100%;
    }

    .brands-panel .brands-panel__header p:after, .brands-panel .brands-panel__header p:before{
        display: none;
    }
}
