:root {
    --primary-color: #B9FD50;
    --primary-color-opacity: #b9fd505e;
    --primary-color-dark: #111204;

    --с-subtitle: #FFFFFFCC;
    --с-subtitle-dark: #111204CB;
    --step-grid: #9593A4;
}
